html, body {
  margin: 0px;
  padding: 0px;
}

body {
  min-width: 1200px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  background-color: f2f2f2;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  /* box-shadow: 0 0 15px -5px rgba(0,0,0,.5);  для тени как на макете нужна оберка для всех контейнеров?*/
}

.main-navigation {
  width: 1200px;
  color: #000000;
  position: relative;
  min-height: 56px;
}

.main-navigation ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}

.main-navigation a {
  color: #000000;
  text-decoration: none;
  font-weight: 700;
}

.main-navigation a:hover {
  color: #a3c7de;
}

.main-navigation a:active {
  color: #b2b2b2;
}

.logo {
  width: 138px;
  display: block;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.main-navigation li {
  display: inline-block;
  width: 240px;
  font-size: 14px;
  line-height: 26px;
  vertical-align: top;
  text-align:center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.main-navigation li:nth-child(-n+2) {
  float:left;
}

.main-navigation li:nth-last-child(-n+2) {
   float: right;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

/* h3 {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}
/* возможно, не пригодится */

p {
  margin: 0;
  padding: 0;
}

.banner {
  height: 508px;
  background: #e5f2fa url("../img/index-background.jpg") no-repeat;
  margin-bottom: 60px;
}

.welcome-image {
  width: 458px;
  height: 352px;
  padding-top: 76px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.introduction {
  width: 576px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 55px;
  text-align: center;
}

.introduction p {
  margin-top: 30px;
}

.feature-block-1 img,
.feature-block-2 img {
  display: block;
}

.feature-left {
  width: 300px;
  float: left;
  text-align: center;
  padding: 54px 50px;
  background-color: #81b3d2;
  color: #ffffff;
}

.feature-left p {
 font-size: 14px;
 line-height: 21px;
}


.feature-right .feature-number,
.feature-left .feature-number,
.feature .feature-number {
  margin-bottom: 20px;
}

.feature {
  width: 300px;
  float: left;
  text-align: center;
  padding: 52px 50px;
  color: #000000;
}

.features-raw-1 .feature {
  position: relative;
  padding-top: 160px;
  padding-bottom: 85px;
}

.features-raw-1 .location::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 162px;
  width: 80px;
  height: 80px;
  background: url("../img/location.png") no-repeat;
}

.features-raw-1 .food::before {
  content: "";
  position: absolute;
  top: 58px;
  left: 162px;
  width: 80px;
  height: 80px;
  background: url("../img/food.png") no-repeat;
}

.features-raw-1 .souvenirs::before {
  content: "";
  position: absolute;
  top: 55px;
  left: 165px;
  width: 80px;
  height: 80px;
  background: url("../img/souvenirs.png") no-repeat;
}

.features-row-2 .feature {
  background-color: f2f2f2;
  padding-top: 45px;
  padding-bottom: 60px;
}

.feature-left .feature-title,
.feature-right .feature-title,
.feature .feature-title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 23px;
}

.feature-right {
  width: 300px;
  float: right;
  text-align: center;
  padding: 54px 50px;
  background-color: #81b3d2;
  color: #ffffff;
}

.main-booking {
  width: 436px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 55px;
  text-align: center;
}

.main-booking .booking-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 56px;
  margin-bottom: 35px;
}

fieldset {
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}

.main-booking-form {
  width: 467px;
  height: 480px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 52px;
  font-weight: 700;
  text-align: left;
  box-shadow: 0 1px 5px 0px;
  position: relative;
  index-z: 10;
  box-shadow: 0 0 15px -5px rgba(0,0,0,.5);
}

.main-booking-form legend {
  background-color: #766357;
  width: 100%;                  /* как сделать чтобы размер брался не от fieldset а от booking-form? только выносить?*/
  font-size: 21px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 55px;
  text-align: center;
  color: #ffffff;
}

.main-booking-form {
  padding-left: 50px;
  padding-right: 50px;
}

.main-booking-form input {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.main-booking-form input:hover {
  background-color: #ebebeb;
}

.main-booking-form input:focus {
  background-color: #ffffff;
  border: 2px solid #ebebeb;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;   /* как бороться с правым паддингом, который прыгает? или это лечится только изменением ширины для каждого поля?*/
}

.depart,
.arrive {
  margin-bottom: 28px;
}


.depart label,
.arrive label,
.adult label,
.children label {
  width: 110px;
  margin-right: 0px;  /* не работет маргин*/
  display: inline-block;
  vertical-align: middle;
}

.depart input,
.arrive input {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
}

.adult input,
.children input {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  margin-left: 0;
  margin-right: 0;  /* не выстраиваются в ряд почему ?*/
}


.main-booking-form .icon-calendar,  /* не работает text-align для календаря*/
.main-booking-form .icon-minus,
.main-booking-form .icon-plus {
  border: none;
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  color: #a9a9a9;
  font-size: 21px;
  text-align: center;
}

.main-booking-form .icon-calendar:hover {
  color: #000000;
}

.main-booking-form .icon-calendar:active {
  color: #81b3d2;
}

.main-booking-form .icon-minus,
.main-booking-form .icon-plus {
  font-size: 14px;
}

 .main-booking-form .btn-booking {
  display: inline-block;
  width: 458px;
  padding: 20px 0;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  vertical-align: top;
  text-align: center;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.main-booking-form .btn:hover {
  background-color: #669ec0;
}

.main-booking-form .btn:active {
  background-color: #5496bd;
}

.main-navigation .active {
  color: #766357;
}

.main-navigation .active:hover {
  color: #604e43;
}

.main-navigation .active:active {
  color: #d6d0cc;
}

footer .container {
  background-color: #ffffff;
  padding-top: 36px;
  padding-bottom: 36px;
}

.main-footer {
  font-size: 0px;
}

.hotels {
  margin-top: 0px;
}

.hash,
.footer-social,
.footer-copyright {
  width: 400px;
  display: inline-block;
  /* почему тут не работает inline-block ? */
  text-align: center;
  vertical-align: middle;
}

.hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
}

.social-btn {
  display: inline-block;
  width: 45px;
  height: 48px;
  margin-right: 1px;    /* там явно есть какие-то доп. маргины, хотя шрифт обнулен */
  font-size: 0px;
  vertical-align: top;
  text-decoration: none;
  background-color: #81b3d2;
  color: #ffffff;
  text-align: center;
}

.social-btn span {
  font-size: 19px;
  line-height: 48px;
  right: 10px;
  bottom: 15px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.academy-logo {
  display: inline-block;
  vertical-align: top;
  background: url("../img/academy-logo.png")
}

/*почему не отображается лого? */

.academy-logo:hover {
  background: url("../img/academy-logo-hover.png")
}

.academy-logo:active {
  opacity: 0.3;
}

.container-inner {
  width: 1054px;
  margin: 0 auto;
  padding-left: 73px; /* тут где-то ошибка, ты мне посоветовал поставить main паддинги и убрать маргины у элементов, но так мне вообще не удастся делать подложки.*/
  padding-right: 73px;
  background-color: #ffffff;
}

.hotels-selection {
  margin-top: 35px;
  color: #ffffff;
  background: url("../img/background-inner.jpg") no-repeat;
  /* Только для оформления сетки */

  height: 217px;
}

.infrastructure,
.accomodation {
  width: 300px;
  float: left;
  text-align: left;
}

.hotels-selection legend {
font-size: 16px;
line-height: 21px;
font-weight: 700;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  display: block;
  margin: 20px 0;
  line-height: 21px;
  padding-left: 40px;
  position: relative;
  cursor: pointer;
}

input[type="checkbox"] + label::before {
  content: "\2610";
  position: absolute;
  top: 0;
  left: 0;
  font-family: "simbols-sedona";
  font-size: 26px;
}

input[type="checkbox"]:checked + label::before {
  content: "\2611";
}

input[type="checkbox"] + .disabled::before {
  opacity: 0.3;
}

.price {
  width: 330px;
  float: right;
  text-align: left;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}


.price-controls label {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 38px;
  cursor: pointer;
}

.price-controls .price-from,
.price-controls .price-till {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

.result {
  margin-top: 30px;
  font-size: 12px;
  line-height: 18px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 30px;
}

.result p {
  display: inline-block;
  vertical-aligh: top;
}

.result a {
  text-decoration: none;
}


.result .all {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-right: 47px;
}

.result .sorting {
  margin-right: 40px;
}

.result .sorting-price,
.result .sorting-type   {
  margin-right: 30px;
}

.result .sorting-type,
.result .sorting-rating  {
  color: #cccccc;
  border-bottom: 1px dotted #81b3d2;
}

.result .sorting-type:hover,
.result .sorting-rating:hover  {
  color: #81b3d2;
}

.result .sorting-type:active,
.result .sorting-rating:active  {
  color: #000000;
}

.result .active {
  color: #81b3d2;
}

.result .sorting-arrows {
  width: 70px;
  float: right;
  text-align: right;
}

.icon-up-dir,
.icon-down-dir {
  text-decoration: none;
  font-size: 23px;
  line-height: 20px;
  color: #f2f2f2;
}

.icon-up-dir:hover,
.icon-down-dir:hover {
  color: #000000;
}

.icon-up-dir:active,
.icon-down-dir:active,
.sorting-arrows .active {
  color: #81b3d2;
}


.results-content {
  padding-top: 35px;
  border-bottom: 2px solid #f2f2f2;
  padding-bottom: 35px;
}

.results-content img {
  display: block;
}

.results-left .hotel-name {
  font-size: 21px;font-weight: bold;
  line-height: 21px;
  text-decoration: none;
  color: #000000;
}

.results-left .hotel-name:hover {
  color: #81b3d2;
}

.results-left .hotel-name:active {
    color: #b2b2b2;
  }

.results-left .more-info {
  padding: 6px 15px;
  background-color: #81b3d2;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
}

.results-left .book {
  padding: 6px 15px;
  background-color: #766357;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
}


.hotel-photo {
  width: 135px;
  display: block;
  float: left;
  margin-right: 30px;
}

.results-left {
  width: 70%;
  float: left;
}

.hotel-info {
  width: 562px;
  float: left;
}

.results-right {
  width: 150px;
  float: right;
  text-align: right;
}

.results-right .rating-numbers {
  display: inline-block;
  vertical-aligh: top;
  margin-top: 38px;
  background-color: #f2f2f2;
  padding: 5px 15px;
  text-align: center;
  color: #666666;
}

.icon-star {
  display: inline-block;
  vertical-align: top;
  font-size: 19px;
  margin-left: 5px;   /*откуда между ними лишние маргины? */
  line-height: 21px;
  color: #81b3d2;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-sedona";
  src: url("../fonts/symbols-sedona.woff") format("woff"),
       url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */
